<!DOCTYPE html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Bandwich | 4 Track Audio Recording</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Social Media MetaData -->
  <meta name="author" content="Joseph Perry, Andrew Stewart, Patrick Hannan, Kai Reid" />
  <meta property="og:title" content="Bandwich" />
  <meta property="og:description"
    content="Bandwich is a simple 4-track interface built with collaboration in mind. A Bandwich audio workstation can be used to share song ideas between users or collaborate on audio tracks." />
  <meta property="og:image" content="/img/bandwich-social.png" />
  <meta property="og:url" content="https://bandwich-app.herokuapp.com/" />

  <script src="https://kit.fontawesome.com/b3159c9b97.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
  <link rel="stylesheet" href="/css/workstation-layout.css" />
  <link rel="stylesheet" href="/css/styles.css" />
  <script type="text/javascript" src="/js/home.js"></script>
  <script type="text/javascript" src="/js/workstation.js"></script>
</head>

<body>
  {{{ body }}}
</body>

</html>