<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Bandwich</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
        {{!-- <link rel="stylesheet" href="/assets/css/styles.css"> --}}
        <script src="https://code.jquery.com/jquery.js"></script>
		{{!-- <script src="/assets/js/front-end.js"></script> --}}
    </head>
    <body>
        {{{ body }}}
    </body>
</html>