<div id="bg-image">
    <div id="container">
    <header>

    </header>
    <main id="intro-page">
        <img src="/img/bw-logo.svg" alt="bandwich logo" id="home-logo">
        <p id="blurb">A simple 4-track recording interface built with collaboration in mind</p>
        <div id="btnDiv">
            <button class="button" id="new-project">
                New Project
            </button>
            <br>
            <a href="/projects" class="button" id="viewAll-projects">View All Projects</a>
            {{!-- <button class="button" id="viewAll-projects"><a href="/projects"></a>View All Projects</button> --}}
        </div>
    </main>
</div>

</div>

