<div id="container">
    <header>

    </header>
    <main id="intro-page">
        <img src="/img/bw-logo.svg" alt="bandwich logo" id="home-logo">
        <p id="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <div id="btnDiv">
            <button class="button" id="new-project">New Project</button>
            <br>
            <a href="/projects"><button class="button" id="viewAll-projects">View All Projects</button></a>
        </div>
    </main>
</div>