<h1>Bandwich</h1>

<div id="btnDiv">
    <a href="/workstation"><button class="button" id="new-project">New Project</button></a>
    <br>
    <a href="/projects"><button class="button" id="viewAll-projects">View All Projects</button></a>
</div>