<div id="container">
    <header>
        <div>
            <img src="/img/bw-logo.svg" alt="bandwich logo">
        </div>
        <div>
            <i class="fas fa-home home menu"></i>
        </div>
    </header>

    <main id="projectList">
        <div id="projectSearch">
            <h2 class="searchheader">Set Project Passcode for:</h2>
            <h2 class="searchheader">{{projectName}}</h2>
            <form id="set-password">
                <input class="button" type="submit" value="Start" style="float: right" id="project-pass-btn" />
                <div style="overflow: hidden; padding-right: .5em;">
                    <input id="set-pass-input" class="pass-input" type="text" name="password" />
                </div>
            </form>
        </div>
    </main>
</div>