<div id="container">

  <header>
    <div>
      <img src="/img/bw-logo.svg" alt="bandwich logo">
    </div>
    <div>
      <i class="fas fa-home home menu"></i>
      {{!-- <i class="fas fa-microphone-alt workstation menu"></i>
      <i class="fas fa-list songs menu"></i> --}}
    </div>
  </header>

  <main id="projectList">
    <h1>All Projects</h1>

    <div id="projectSearch">
      <h2 class="searchheader">Search Projects</h2>
      <div>
        <input class="button" type="submit" value="Search" style="float: right" id="projectsearch-btn"/>
        <div style="overflow: hidden; padding-right: .5em;">
          <input type="text" class="form-control" id="projects-search" style="width: 100%;" />
        </div>

        {{!-- <input type="text" id="projects-search" class="form-control">
        <button type="submit" class="button" id="projectsearch-btn">
          <span class="fa fa-search"></span> Search</button> --}}

      </div>
    </div>


    <div id="activeList">
      {{#each project}}
      <div id="activeListItem"></div>
        <a href="/workstation/{{ id }}">
          <p class="projectName">{{ projectName }}</p>
        </a>
      {{/each}}
    </div>


  </main>

</div>