<h1>All Projects</h1>

<h2 class="searchheader">Search Projects</h2>
<input type="text" id="projects-search" class="form-control">
<br>
<button type="submit" class="btn btn-primary btn-md" id="projectsearch-btn">
<span class="fa fa-search"></span> Search</button>


{{#each project}}
<a href="/workstation/{{ id }}">
<p class="projectName">{{ projectName }}</p>
</a>
{{/each}}