body {
  font-family: "Rubik", sans-serif;
  color: #eaeaea;
  background-color: black;
}

<<<<<<< HEAD
input[type="range"] {
  width: 240px;
}

.master-controls {
  font-size: 24px;
=======
/* Home */

#home-logo {
  width: 100%;
  max-width: 400px;
}

#blurb {
  margin-top: 40px;
  line-height: 1.5;
  width: 80%;
  font-size: 18px;
  text-align: center;
}

#btnDiv {
  margin-top: 20px;
  text-align: center;
}

i:hover,
button:hover {
  cursor: pointer;
}

.button {
  background-color: rgb(80, 80, 255); /* Green */
  font-family: 'Rubik', sans-serif;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.button:hover {
  background-color: rgb(0, 0, 255);
  cursor: pointer;
}


/* Workstation */


.projectName {
  text-align: center;
>>>>>>> main
}

.track-controls {
  box-sizing: border-box;
  font-size: 36px;
  padding: 30px;
  height: 100%;
  width: 100%;
}

<<<<<<< HEAD
canvas {
  background-color: rgb(80, 80, 255);
  width: 240px;
  height: 16px;
  margin-top: 20px;
  border-radius: 2px;
}

/* button {
=======
.master-controls {
  font-size: 48px;
}

button {
>>>>>>> main
  margin: 24px;
} */

/* .track {
  position: relative;
} */

.title-bar {
  /* position: absolute;
  left: 0px;
  top: 0px; */
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  margin: 0;
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0.05);
}

h4 {
  margin: 0;
  letter-spacing: 0.2px;
}

.caption {
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.5px;
  opacity: 50%;
}

/* .trk-ctl-btn {
  margin-right: 40px;
} */

.ui-block {
  background-color: #1f1f1f;
  padding: 0px;
  border-radius: 4px;
}

.menu {
  font-size: 26px;
  margin-left: 30px;
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 75px;
}

input[type=range]{
  width: 280px;
}

input {
  background-color: #1f1f1f;
}

input[type="text"] {
  min-width: 100px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  color: white;
  font-size: 1.17em;
  padding: 12px 20px;
  margin: 8px 0;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"]:focus {
  outline: none;
  border: none;
}

<<<<<<< HEAD
/* #name-input {
  text-align: center;
} */

i:hover,
button:hover,
.mstr-ctl-btn:hover {
  cursor: pointer;
}

button {
  font-family: "Rubik", sans-serif;
  letter-spacing: 1px;
}

.mstr-ctl-btn {
  background-color: rgba(255, 255, 255, 0.1);
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.nudge {
  margin-left: 8px;
}

/* .fa-circle,
.fa-square {
  color: #FF4A4A;
} */

.button {
  background-color: rgb(80, 80, 255); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.button:hover {
  background-color: rgb(0, 0, 255);
  cursor: pointer;
}

.projectName {
  text-align: center;
}
=======

>>>>>>> main

/* toggle switch */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#glow {
  color: rgb(255, 74, 74);
}

.pulsing {
  animation: pulse 2s infinite;
  color: rgb(255, 74, 74);
  border-radius: 50%;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 74, 74, 0.7);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(255, 74, 74, 0);
  }
  100% {
    transform: scale(0.9);
  }
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  /* transform: rotate(270deg); */
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(255, 74, 74);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(255, 74, 74);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 4px;
}

.slider.round:before {
  border-radius: 10%;
}

/* breakpoints */

@media only screen and (min-width: 768px) {
  input[type="range"][orient="vertical"] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 140px;
    padding: 0 5px;
  }

  .mstr-ctl-btn {
    font-size: 32px;
    height: 92px;
    width: 92px;
  }

  canvas {
    width: 40px;
    height: 140px;
    margin-top: 0px;
    margin-left: 40px;
  }
}
