/* Flexbox */

header,
.track,
.title-bar,
.master-controls,
.track-controls,
#project-settings,
<<<<<<< HEAD
.mstr-ctl-btn,
.volume-controls {
    display: flex;
}

/* .title-bar {
    justify-content: space-between;

} */

#project-settings,
.mstr-ctl-btn {
=======
#intro-page {
    display: flex;
}

#project-settings,
#intro-page {
>>>>>>> main
    align-items: center;
    justify-content: center;
}
header,
.track,
.title-bar{
    justify-content: space-between;
    align-items: center;
}

.master-controls {
    justify-content: space-evenly;
    align-items: center;
}

.track-controls
 {
    justify-content: space-between;
    align-items: center;
}

.input-range{
    align-self: center;
}

.track,
<<<<<<< HEAD
.volume-controls {
=======
#intro-page {
>>>>>>> main
    flex-direction: column;
}



/* Grid */


header {
    grid-area: header;
}

main {
    grid-area: main;
}

#project-settings {
    grid-area: prj;
}

.master-controls {
    grid-area: ctls;
}

#track-one {
    grid-area: trk-1;
}

#track-two {
    grid-area: trk-2;
}

#track-three {
    grid-area: trk-3;
}

#track-four {
    grid-area: trk-4;
}



#container {
    max-width: 960px;
    /* min-width: 400px; */
    margin: auto;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
        "...  header  ..."
        "... main ...";
}

#console {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 80px 160px 160px 160px 160px;
    grid-template-areas:
        "prj"
        "ctls"
        "trk-1"
        "trk-2"
        "trk-3"
        "trk-4";
}


/* breakpoints */

@media only screen and (min-width: 768px) {
  
    #console {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 80px 400px 160px;
        grid-template-areas:
            "prj prj prj prj"
            "trk-1 trk-2 trk-3 trk-4"
            "ctls ctls ctls ctls";
    }

    .track-controls {
        flex-direction: column;
    }

    .volume-controls {
        flex-direction: row;
    }

}    
